@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

.hidden {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

html {
  height: 100vh;
}

body {
  background: var(--Almost-White);
  padding: 2vw 2.5vw 1vw 2.5vw;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  gap: 3.5vw;
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 3vw;
}

header .nav-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

header > .nav-desktop > ul {
  display: flex;
  gap: 2vw;
  list-style: none;
  color: var(--Medium-Gray);
}

header > .nav-desktop > ul li {
  cursor: pointer;
}

header > .nav-desktop > ul li:hover {
  color: var(--Almost-Black);
}
header > .nav-desktop .sign-log-in {
  display: flex;
  gap: 2vw;
}

header > .nav-desktop .login {
  border: none;
  background: var(--Almost-White);
  color: var(--Medium-Gray);
  font-weight: 500;
  cursor: pointer;
  font-size: 1vw;
}

header > .nav-desktop .login:hover {
  color: var(--Almost-Black);
}

header > .nav-desktop .signup {
  padding: 0.5vw 0.9vw;
  border: 2px solid var(--Medium-Gray);
  background: var(--Almost-White);
  color: var(--Medium-Gray);
  border-radius: 0.7vw;
  font-weight: 500;
  cursor: pointer;
  font-size: 1vw;
}

header > .nav-desktop .signup:hover {
  border: 2px solid var(--Almost-Black);
  color: var(--Almost-Black);
}

.logo {
  width: 6vw;
  align-self: center;
}

header > .nav-desktop .features-arrow-icon {
  width: 0.6vw;
}

header > .nav-desktop .company-arrow-icon {
  width: 0.6vw;
}

header > .nav-desktop .features-list,
header > .nav-desktop .company-list {
  position: absolute;
  top: 2vw;
  list-style: none;
  border: none;
  background-color: white;
  padding: 1vw 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-radius: 1vw;
  font-size: 0.9vw;
  color: var(--Medium-Gray);
}

header > .nav-desktop .features-list {
  right: 0;
}

header > .nav-desktop .features-list li {
  display: flex;
  gap: 1vw;
  align-items: center;
}

header > .nav-desktop .features-list li img {
  width: 1vw;
}

header > .nav-desktop .company-list {
  left: 0;
}

header > .nav-desktop .company-list li {
  white-space: nowrap;
}

header > .nav-desktop .features,
header > .nav-desktop .company {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  justify-content: center;
  align-items: stretch;
  gap: 4vw;
  padding: 2vw 6vw 6vw 6vw;
  height: 100vh;
}

.img {
  background: url("./images/image-hero-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

section .section {
  display: flex;
  gap: 3vw;
  padding-left: 4vw;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

h1 {
  font-size: 5vw;
  font-weight: 700;
  color: var(--Almost-Black);
  line-height: 5vw;
}

main > section .learnmore {
  border: 2px solid var(--Almost-Black);
  background: var(--Almost-Black);
  border-radius: 0.7vw;
  padding: 1vw 2vw;
  color: var(--Almost-White);
  font-weight: 700;
  align-self: start;
  margin-top: -5px;
  font-size: 1.2vw;
  box-sizing: border-box;
  cursor: pointer;
}

main > section .learnmore:hover {
  border: 2px solid var(--Medium-Gray);
  background: var(--Almost-White);
  color: var(--Almost-Black);
  box-sizing: border-box;
}

p {
  font-size: 1.3vw;
  color: var(--Medium-Gray);
  font-weight: 500;
  line-height: 2vw;
  width: 70%;
}

.img-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.img-flex img {
  width: 14%;
  object-fit: contain;
}

.menu {
  display: none;
}

.nav-mobile-container {
  display: none;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 1rem 0;
  }

  .logo {
    width: 5rem;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    padding-bottom: 2rem;
    justify-content: start;
    align-items: start;
  }

  main > section {
    padding-top: 2rem;
    gap: 2rem;
  }

  section > .section {
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 80%;
  }

  h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  h1 br {
    display: none;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 90%;
    text-align: center;
  }

  main > section .learnmore {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    align-self: center;
  }

  .img {
    background: url("/images/image-hero-mobile.png");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 90vh;
  }
  header {
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .nav-desktop {
    display: none !important;
  }

  .nav-mobile-container {
    display: initial;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.658);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
  }

  .nav-mobile {
    position: absolute;
    top: 0;
    left: 35%;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: white;
    color: var(--Medium-Gray);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 2rem;
    overflow: hidden;
  }

  .nav-mobile .icon-close-menu {
    width: 2rem;
    align-self: end;
    transform: translateX(1rem);
    cursor: pointer;
  }
  .nav-mobile ul {
    width: 100%;
    font-size: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-mobile-container > nav > ul li {
    cursor: pointer;
  }

  .nav-mobile-container > nav > ul li:hover {
    color: var(--Almost-Black);
  }
  .nav-mobile-container .sign-log-in {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .nav-mobile-container .login {
    border: none;
    background: white;
    color: var(--Medium-Gray);
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
  }

  .nav-mobile-container .login:hover {
    color: var(--Almost-Black);
  }

  .nav-mobile-container .signup {
    padding: 0.5rem 0.9rem;
    border: 2px solid var(--Medium-Gray);
    background: var(--Almost-White);
    color: var(--Medium-Gray);
    border-radius: 0.7rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
  }

  .nav-mobile-container .arrow-icon {
    width: 0.5rem;
  }

  .nav-mobile-container .features,
  .nav-mobile-container .company {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-mobile-container .signup:hover {
    border: 2px solid var(--Almost-Black);
    color: var(--Almost-Black);
  }

  .nav-mobile-container .features-list,
  .nav-mobile-container .company-list {
    position: relative;
    list-style: none;
    border: none;
    background-color: white;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    color: var(--Medium-Gray);
  }

  .nav-mobile-container .features-list {
    right: 0;
  }

  .nav-mobile-container .features-list li {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .nav-mobile-container .features-list li img {
    width: 1rem;
  }

  .nav-mobile-container .company-list {
    left: 0;
  }

  .nav-mobile-container .company-list li {
    white-space: nowrap;
  }

  .nav-mobile-container .features,
  .nav-mobile-container .company {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav-mobile-container .feature-text,
  .nav-mobile-container .company-text {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
  }

  .menu {
    display: revert;
    cursor: pointer;
  }
}
